@model IEnumerable<inmobiliariaBD.Models.Inmueble>

@{
    ViewData["Title"] = "Listado de Inmuebles";
}
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info">@TempData["Mensaje"]</div>
}

<h2>Listado de Inmuebles</h2>
<a asp-action="CreateOrEdit" class="btn btn-success mb-3">➕ Crear nuevo Inmueble</a>

<table class="tabla-inmuebles table table-striped table-bordered">

    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.Localidad)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.Propietario)</th>
            <th>@Html.DisplayNameFor(model => model.TipoInmueble.Tipo)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inmueble in Model)
        {
            <tr>
                <td>@inmueble.Id</td>
                <td>@inmueble.Direccion</td>
                <td>@inmueble.Localidad</td>
                <td>@inmueble.Estado</td>
                <td>$@inmueble.Precio</td>
                <td>@inmueble.Propietario.Persona.ToStringSimple()</td>
                <td>@inmueble.TipoInmueble.Tipo</td>
                <td>
                    <a asp-action="Details" asp-route-id="@inmueble.Id" class="btn btn-info btn-sm">🔍</a>
                    <a asp-action="CreateOrEdit" asp-route-id="@inmueble.Id" class="btn btn-warning btn-sm">✏️</a>
                    <a asp-action="Delete" asp-route-id="@inmueble.Id" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
        }
    </tbody>
</table>
